@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .sidebar {
      left: 0;
  }

  .main-content {
      margin-left: 250px;
  }

  .sidebar.open + .main-content {
      margin-left: 250px;
  }

}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #0a4996;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 16px;
  color: white;
}

.sidebar-header span{
  font-weight: 300;
}

.header{
  background: #f5f7fc;
  height: 53px;
  display: flex;
  justify-content: space-between;
}

.header .right{
  display: flex;
  justify-content: space-between;
}

.sidebar .close-btn {
  cursor: pointer;
  height: 27px;
  color: white;
  border: 1px solid #0f3e7a;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background: transparent;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu .menu-item, .sidebar-menu .dropdown-btn {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #444;
}

.sidebar-menu .menu-item:hover, .sidebar-menu .dropdown-btn:hover {
  background-color: #555;
}

.sidebar-menu .dropdown {
  position: relative;
}

.sidebar-menu .dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-menu .dropdown-arrow {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.sidebar-menu .dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: #444;
}

.sidebar-menu .dropdown-menu li a {
  padding: 15px;
  text-decoration: none;
  color: white;
  display: block;
}

.sidebar-menu .dropdown-menu li a:hover {
  background-color: #555;
}

.sidebar-menu .dropdown.open .dropdown-menu {
  display: block;
}

.sidebar-menu .dropdown.open .dropdown-arrow {
  transform: rotate(180deg);
}

.main-content {
  margin-left: 0;
  padding: 0px;
  transition: margin-left 0.3s ease;
  flex: 1;
}

.main-content .open-btn {
  font-size: 1.5em;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0px 15px;
  padding: 0;
  height: 53px;
  color: #000;
}

.main-content .open-btn img{
  margin-top: 8px;
}

.main-content .content {
  padding: 0 20px 20px 20px;
}

#word-container {
  font-size: 2em;
  margin-bottom: 5px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 500;
  color: #0a4996;
  
}

#classification-container {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
  font-style: italic;
  font-weight: 300;
}

button {
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  cursor: pointer;
}

#result {
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  font-size: 1.2em;
  display: none;  
}

#result .close-btn {
  position: absolute;
  top: 8px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  color: #fff;
}

#result-message{
  padding-right: 20px;
  font-size: 16px;
}

#result-message span b{
  margin: 0px 5px;
  text-transform: capitalize;
}

#result-message img{
  height: 20px;
  float: right;
  padding: 0px 5px;
  cursor: pointer;
}

#result-message a{
  float: right;
}

.correct {
  background-color: #8bc34a;
  color: #fff;
}

.incorrect {
  color: #fff;
  background-color: #F44336;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#stats {
  padding: 10px 0px 0px 0px;
  font-weight: 500;
  font-size: 18px;
  text-align: right;
}

.result-correct {
  color: green;
}

.result-incorrect {
  color: red;
}

#exemplos, #classificacao, #descricao {
  margin-top: 10px;
  font-size: 1.1em;
}

#exemplos{
  margin-top: 20px;
}

.blank {
  border-bottom: 1px dashed #000;
}

#dictionary-link, #listen-answer-btn{
  line-height: 22px;
  font-size: 14px;
  color: #777;
  cursor: pointer;
  display: inline-block;
  margin: 12px 0px;
  text-decoration: none;
  background: #f4f4f4;
  padding: 6px 15px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  margin-bottom: 30px;
}

#dictionary-link img, #listen-answer-btn img{
  float: left;
  height: 20px;
  margin-right: 6px;
  margin-top: 1px;
}

.change-language{
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 15px;
  border-radius: 4px;
  color: #373737;
  height: 20px;
  margin-right: 10px;
  margin-top: 16px;
}

.change-language img{
  width: 15px;
  margin: -2px 5px;
}

.topo{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  position: relative;
}

.content-answer{
  display: flex;
}

.content-answer input{
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #aaa;
  border-right: 0px;
  padding: 10px 15px;
  font-family: 'Roboto Condensed';
  height: 28px;
  font-size: 15px;
}

.content-answer button{
  margin-left: -1px;
  margin-right: 0;
  padding: 0px 25px;
  font-family: 'Roboto Condensed';
  background: #0a4997;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  border: 1px solid #0a4997;
  font-size: 15px;
}

.answer-options{
  text-align: center;
}

.answer-options p{
  line-height: 20px;
  font-size: 14px;
  color: #757575;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  margin: 5px 0px;
}

.answer-options img{
  float: left;
  height: 20px;
}

.answer-options .icon-help{
  height: 18px;
  margin-top: 1px;
  margin-right: 4px;
}

input {
  outline: 0px;
}

#descricao h4, #exemplos h4{
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 2px;
}

#descricao p, #exemplos p{
  margin-top: 0;
  color: #777;
  margin-left: 2px;
}

#incorrect-words-table td{
  padding-right: 20px;
  padding: 5px 20px 5px 0px;
}

#incorrect-words-table th{
  text-align: left;
  padding-right: 20px;
}

#incorrect-words-table .incorrect-word {
  display: flex;
  font-weight: 500;
  margin: 0;
  justify-content: space-between;
}

#incorrect-words-table .incorrect-word p{
  font-size: 16px;
  font-weight: 600;
  color: #0f3e7b;
  text-transform: capitalize;
  margin: 0;
}

#incorrect-words-table .incorrect-word img{
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.clear-incorrect-word{
  padding: 6px 15px;
  font-size: 14px;
  font-family: 'Roboto Condensed';
  margin-left: 10px;
  background: #f4f4f4;
  color: #777;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
}

#incorrect-words-section{
  margin-top: 50px;
}

.settings {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  margin-right: 15px;
}

.settings-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 210px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.settings-dropdown a {
  color: #333333;
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  font-size: 15px;
}

.settings-dropdown a:hover {
  background-color: #f1f1f1;
}

.settings-dropdown-link{
  margin-top: 0;
  display: block;
  line-height: 25px;
  padding: 18px 10px;
}

.settings-dropdown-link img{
  float: right;
}

#toggle-language-btn img.icon{
  height: 20px;
  width: 15px;
}

.settings-dropdown .language {
  display: flex;
  gap: 5px;
}

.settings-dropdown .language .flag{
  width: 20px;
}

@media (max-width: 768px){
  #result {
    transform: none;
    left: auto;
    position: relative;
  }
  #incorrect-words-section .exemplos{
    display: none;
  }
}

.progress-container {
  width: 100%;
  background-color: #f3f3f3;
}

.progress-bar {
  height: 4px;
  width: 0;
  background-color: #0a4997;
  transition: width 0.3s ease;
}

#word-container.hidden-word{
  font-size: 28px;
  font-style: italic;
  color: #ddd;
}

#toggle-dark-mode-btn{
  background: transparent;
  border: 1px solid #ddd;
  margin: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  padding-bottom: 2px;
  margin-top: 14px;
  border-radius: 15px;
}

#breadcrumb-container {
  padding: 10px 20px 0px 20px;
  font-size: 12px;
  float: left;
}

#breadcrumb-container span {
  color: #555;
}

#repeat-pronunciation-btn {
  position: absolute;
  top: 17px;
  margin-left: 20px;
  width: 32px;
  height: 32px;
  border-radius: 15px;
  background: #0b4997;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: 0;
  padding: 0;
}

#repeat-pronunciation-btn img {
  width: 24px;
  height: 24px;
  padding-top: 3px;
}

#repeat-pronunciation-btn.draggable {
  cursor: grab;
}

/* Modo escuro */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .sidebar {
  background-color: #333333;
}

body.dark-mode .sidebar .sidebar-menu .menu-item,
body.dark-mode .sidebar .sidebar-menu .dropdown-btn {
  border-bottom: 1px solid #444444;
}

body.dark-mode .sidebar .sidebar-menu .menu-item:hover,
body.dark-mode .sidebar .sidebar-menu .dropdown-btn:hover {
  background-color: #555555;
}

body.dark-mode .sidebar .sidebar-menu .dropdown-menu {
  background-color: #444444;
}

body.dark-mode .main-content {
  background-color: #1e1e1e;
}

body.dark-mode .header {
  background: #333333;
}

body.dark-mode .header .open-btn img {
  filter: invert(1);
}

body.dark-mode #result.correct {
  background-color: #388e3c;
}

body.dark-mode #result.incorrect {
  background-color: #d32f2f;
}

body.dark-mode .settings-dropdown {
  background-color: #333333;
}

body.dark-mode .settings-dropdown a {
  color: #fff;
}

body.dark-mode .settings-dropdown a:hover {
  background-color: #444444;
}

body.dark-mode .progress-container {
  background-color: #333333;
}

body.dark-mode .progress-bar {
  background-color: #0a4997;
}

body.dark-mode #word-container.hidden-word {
  color: #555555;
}

body.dark-mode .content-answer input{
  background: #121212;
  color: #fff;
  border-color: #444;
}

body.dark-mode #word-container{
  color: #fff;
}

body.dark-mode #toggle-dark-mode-btn{
  border-color: transparent;
  background: #165f91;
}

body.dark-mode #breadcrumb-container span {
  color: #ccc;
}