@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .sidebar {
      left: 0;
  }

  .main-content {
      margin-left: 250px;
  }

  .sidebar.open + .main-content {
      margin-left: 250px;
  }
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #0a4996;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 16px;
  color: white;
}

.sidebar-header span{
  font-weight: 300;
}

.header{
  background: #f5f7fc;
  height: 57px;
  display: flex;
  justify-content: space-between;
}

.header .right{
  display: flex;
  justify-content: space-between;
}

.sidebar .close-btn {
  cursor: pointer;
  height: 27px;
  color: white;
  border: 1px solid #0f3e7a;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background: transparent;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu .menu-item {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #444;
}

.sidebar-menu .menu-item:hover {
  background-color: #555;
}

.sidebar-menu .dropdown {
  position: relative;
}

.sidebar-menu .dropdown-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-menu .dropdown-arrow {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.sidebar-menu .dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: #444;
}

.sidebar-menu .dropdown-menu li a {
  padding: 15px;
  text-decoration: none;
  color: white;
  display: block;
}

.sidebar-menu .dropdown-menu li a:hover {
  background-color: #555;
}

.sidebar-menu .dropdown.open .dropdown-menu {
  display: block;
}

.sidebar-menu .dropdown.open .dropdown-arrow {
  transform: rotate(180deg);
}

.main-content {
  margin-left: 0;
  padding: 0px;
  transition: margin-left 0.3s ease;
  flex: 1;
}

.main-content .open-btn {
  font-size: 1.5em;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0px 15px;
  padding: 0;
  height: 53px;
}

.main-content .content {
  padding: 20px;
}

#word-container {
  font-size: 2em;
  margin-bottom: 5px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 500;
  color: #0a4996;
  
}

#repeat-pronunciation-btn{
  background-color: transparent;
  padding: 0px;
  margin-left: 10px;
  border: 0;
  border-radius: 30px;
  display: inline-block;
}

#repeat-pronunciation-btn img{
  margin-top: 5px;
}

#classification-container {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
  font-style: italic;
  font-weight: 300;
}

#answer-input {
  padding: 10px;
  font-size: 1em;
  width: calc(100% - 22px);
  margin-bottom: 10px;
}

button {
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  cursor: pointer;
}

#result {
  position: fixed;  
  bottom: 20px;  
  right: 20px;  
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  font-size: 1.2em;
  z-index: 1000;  
  display: none;  
}

#result .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#stats {
  padding: 16px;
  font-weight: 500;
  font-size: 1.2em;
}

.result-correct {
  color: green;
}

.result-incorrect {
  color: red;
}

#exemplos, #classificacao, #descricao {
  margin-top: 10px;
  font-size: 1.1em;
}

#exemplos{
  margin-top: 20px;
}

.blank {
  border-bottom: 1px dashed #000;
}

#dictionary-link{
  display: block;
  margin-top: 20px;
}

.change-language{
  margin: 0;
  background-color: #ebebeb;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  line-height: 24px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #5b5b5b;
}

.change-language img{
  width: 15px;
  margin-left: 5px;
}

.topo{
  display: flex;
  justify-content: space-between;
}