body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h2 {
  font-size: 1.5em;
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 20px;
  position: relative;  /* Adicionado para posicionamento relativo */
}

#word-container {
  font-size: 2em;
  margin-bottom: 10px;
}

#classification-container {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

#answer-input {
  padding: 10px;
  font-size: 1em;
  width: calc(100% - 22px);
  margin-bottom: 10px;
}

button {
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  cursor: pointer;
}

#result {
  position: fixed;  /* Adicionado para posicionamento fixo */
  bottom: 20px;  /* Distância do fundo */
  right: 20px;  /* Distância da direita */
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  font-size: 1.2em;
  z-index: 1000;  /* Certifique-se de que esteja acima de outros elementos */
  display: none;  /* Inicialmente escondido */
}

#result .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#stats {
  position: absolute;  /* Adicionado para posicionamento absoluto */
  top: 20px;  /* Distância do topo */
  right: 20px;  /* Distância da direita */
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  font-size: 1.2em;
  z-index: 1000;  /* Certifique-se de que esteja acima de outros elementos */
}

.result-correct {
  color: green;
}

.result-incorrect {
  color: red;
}

#exemplos, #classificacao, #descricao {
  margin-top: 10px;
  font-size: 1.1em;
}

#exemplos{
  margin-top: 20px;
}

.blank {
  border-bottom: 1px dashed #000;
}

#dictionary-link{
  display: block;
  margin-top: 20px;
}