@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
  color: #fff;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar .word-list {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.sidebar .word-list:hover {
  background-color: #555;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

.container {
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

#word-container {
  margin-bottom: 15px;
  font-size: 50px;
  text-align: center;
  color: royalblue;
  width: 100%;
}

#answer-input {
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 13px;
  font-size: 15px;
  border: 1px solid #ccc;
  font-family: "Poppins";
  text-align: center;
  border-radius: 30px;
  background: #f7f7f7;
}

#answer-input:focus-visible {
  outline: 0px;
}

#dont-know-btn, #submit-btn {
  padding: 15px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-family: Inter;
  font-weight: 600;
  border-radius: 30px;
}

#submit-btn{
  background-color: #4CAF50;
}

#dont-know-btn{
  background-color: #C41713;
}

#result {
  font-size: 15px;
  border-radius: 5px;
  color: white;
  opacity: 0;
  pointer-events: none;
  animation: slideInRight 0.5s ease forwards;
  margin: 15px;
  font-family: 'Poppins';
  text-align: center;
  color: #0f8013;
}

#result b{
  font-family: "Poetsen One";
  font-size: 17px;
}

.correct{
  padding: 10px;
}

.incorrect {
  color: #C41713 !important;
  padding: 10px;
}

#stats{
  text-align: center;
  margin-bottom: 15px;
}

.result-correct{
  color: #4CAF50;
}

.result-incorrect{
  color: #C41713;
}

@keyframes slideInRight {
  from {
    right: -200px;
    opacity: 0;
  }
  to {
    right: 20px;
    opacity: 1;
  }
}

.word-list.selected {
  background-color: #ddd;
  color: #333;
}

/* Estilos para telas maiores */
.sidebar {
  width: 20%;
}

.content {
  width: 80%;
}

h4{
  text-align: center;
  color: #898989;
  margin-bottom: 5px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
  }

  .content {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
}

#pronounce-button {
  background-color: #717171;
  width: 50px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 2px;
}

#pronounce-button i {
  margin-right: 5px;
}

#pronounce-button:hover {
  background-color: #0056b3;
}

.word {
  display: flex;
  position: relative;
}

#dictionary-link{
  margin-bottom: 20px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  color: gray;
  font-style: italic;
  margin-top: 15px;
}

#answer-input.correct-input {
  border: 1px solid #0f8013;
  color: #0f8013;
  background-image: url('assets/done_outline.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#toggle-word-visibility-btn{
  width: 120px;
  margin: 0 auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 30px;
  color: #999;
  height: 30px;
  font-family: Inter;
  font-size: 12px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.buttons-container button {
  flex: 1;
}

.main{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}